<!DOCTYPE html>
<html>
<head>
	<title>{{ trans("Ceres::Template.orderCheckout") }} | {{ config("Ceres.header.company_name") }}</title>
</head>
<script src="https://test.oppwa.com/v1/paymentWidgets.js?checkoutId={{  }}"></script>
<body>
	<div class="page-content checkout container-max">
    	<div>
	    	<form action="{{ paymentPageUrl }}" class="paymentWidgets" data-brands="VISA MASTER AMEX"></form>
		</div>
    </div>
</body>
</html>