{% extends getPartial('page-design') %}
{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% block PartialHead %}
    <title>{{ trans("Ceres::Template.orderCheckout") }} | {{ config("Ceres.header.company_name") }}</title>
{% endblock %}

{% block PageBody %}

    <div class="page-content checkout container-max">
    	<div>
	    	<form action="{{ paymentPageUrl }}" class="paymentWidgets" data-brands="VISA MASTER AMEX"></form>
		</div>
    </div>

{% endblock %}
