<script src="https://test.oppwa.com/v1/paymentWidgets.js?checkoutId=CEEA174683877098C532B523F458C4DD.sbg-vm-tx01"></script>
<form action="{paymentPageUrl}" class="paymentWidgets" data-brands="VISA MASTER AMEX"></form>